.d-label {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    direction: rtl;
    text-align: right;
    position: absolute;
    // top: 0;
    line-height: 17px;
    color: #636161;
    background-color: white;
    font-weight: 400;
    font-size: 17px;
  
  }