$background-image: url('/9ebb30957657304c5daed62720b81b64.jpg');

.App {
    background-image: $background-image;
    background-size: cover;
    opacity: 70%;
    padding:80px;
}

.container {
    border-radius: 10.83px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.7);
    height: 70%;
    display: flex;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    direction: rtl;
}
#homeNumber{
  width: 50%;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    
}
.span{
    color:#B73D3D;
    font-weight: bold;
    padding-left: 200px;
}
.bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right:20px;  
}

.line {
    width: 500px;
    height: 1.2px;
    background: rgba(191, 191, 191, 1);
}
.form{
    display: flex;
    gap:10px;
    padding:10px;

    
}
.form-input {
    position: relative;
   
  }
  
  .form-input input::placeholder {
    opacity: 0;
  }
  
  .form-input input {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    padding: 20px;
    outline: none;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .form-input label {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: gray;
    letter-spacing: 1px;
     transition: .3s;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
  
  .form-input input:focus + label,
  .form-input input:not(:placeholder-shown) + label 
  {
    top: 0;
    font-size: .8rem;
    color: black;
    background: #fff;
    padding: 7px;
  }
  
  .form-input input:focus {
    border: 2px solid black;
  }

  @keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes ripple-radio {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .mui-radio input,
  .mui-checkbox input {
    display: none;
  }
  
  .mui-checkbox > label {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    padding: 0 10px;
    border: 2px solid #666;
    margin-bottom: 0;
    font-weight: normal;
    white-space: nowrap;
    text-indent: 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 400ms;
    
  }
  
  
  
  .mui-checkbox input[type=checkbox]:checked+label {
    background-color: #63c000;
    border-color: #63c000;
  }
  
  .mui-checkbox input[type=checkbox]:checked + label::after,
  .mui-checkbox input[type=checkbox]:checked + label::before {
    position: absolute;
    display: table;
    box-sizing: border-box;
    content: '';
  }
  
  .mui-checkbox input[type=checkbox]:checked + label::before {
    top: -15px;
    right: -15px;
    width: 50px;
    height: 50px;
    border-color: #fff;
    background-color: #63c000;
    border-radius: 35px;
    opacity: 0;
    animation: ripple 800ms;
  }
  
  .mui-checkbox input[type=checkbox]:checked + label::after {
    top: 2px;
    right: 7px;
    width: 6px;
    height: 13px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(45deg);
  }
  
  .mui-radio > label {
    border-radius: 12px;
  }

 .btn{
    width: 462px;
    height: 43px;
    align-items: center;
    justify-content: center;
    border-radius: 11.94px;
    background: rgba(80, 117, 134, 1);
    color:white;
 }
  
 .error-message{
  color:red;
 }
.mui-checkbox{
  gap:10px;
  padding:5px;
}


 @media screen and (max-width: 768px) {
  .App {
    background-image: $background-image;
    background-size: cover;
    height:100%;
    padding:20px;
}

  .container{
    width:90%;
    height: 100%;
  }

  .form-input input {
    font-size: 1rem;
    width:262.74px;
    height: 39.94px;
  }

  .form{
    display: grid;
    gap:20px;
    
}
.top {
  display: grid;
  align-items: center;
  
}
.span{
  font-size: 12px;
  width: 100%;
}
.line{
  width:155.8px;
}
.btn{
  width:157px;
  height:43px;
  align-items: center;
  justify-content: center;
  
}
.bottom{
  width:100%;
}

}