$primary-color: #507586;

button {
    background-color: $primary-color;
    border: none;
    border-radius: 11.9444px;
    margin: auto;
    width: 462px;
    height: 43px;
    color: white;
    font-family: 'Fredoka';
    font-weight: 500;
    font-size: 21.5px;
    line-height: 100%;
    letter-spacing: 0.02em;
}