// @forward './input.style.scss';

:root {
  --input-label-color: var(--color-dark-gray);
  --input-border-color: var(--color-light-gray);
  --input-required-color: var(--color-red);
}


///new
.input-wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1rem;
  width: 285px;
  justify-content: flex-end;
}

.input-label {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  direction: rtl;
  text-align: right;
  position: fixed;
  // top: 0;
  line-height: 17px;
  color: #636161;
  background-color: white;
  font-weight: 400;
  font-size: 17px;
  z-index: 2;
  margin-right: 20px;
  margin-top:-10px;

}

.input {
  border-radius: 5.42px;
  padding: 0.5rem;
  font-size: 1rem;
  direction: rtl;
  text-align: right;
  border-color: var(--color-light-gray);
  border-width: 1.08px;
  margin-left: 40px;
  z-index: 1;
}


.required {
    color: #B73D3D;
    display: inline;
}

.error {
  position: fixed;
  color: red;
  font-size: 16px;
  // padding-right:40px;
  padding-top: 40px;
  z-index: 0.5;
}