.separator-label {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 47px;
  margin-top: 40px;
}

.mini-label {
  margin-left: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.line-img {
  width: 611px;
  height: 1px;
  margin-top:0.5%;
}
