.separator-label {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 47px;
  margin-top: 40px;

  @media (max-width: 800px) {
    display: flex;
    width: 500px;
    justify-content: flex-start;
  }
}

.mini-label {
  margin-left: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.line-img {
  width: 611px;
  height: 1px;
  margin-top:0.5%;

  @media (max-width: 800px) {
    display: flex;
    width: 120px;
    justify-content: flex-end;
  }
}
