@import "src/styles/vars.scss";

.separator-label {
  display: flex;
  margin-bottom: 47px;
  margin-top: 40px;

  margin-left: 70px;

  @media #{$mobile} {
    margin-left: unset;
  }
}

.mini-label {
  margin-left: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.divider {
  border-bottom: 1px solid #3333;
  width: 100%;
}
