.error-searchbox {
  position: fixed;
  color: red;
  font-size: 16px;
  padding-top: 40px;
  z-index: 0.5;
}

.search-box-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
