$primary-color: #507586;

body {
  direction: rtl;
  background-image: url("./../images/background.jpeg");
    position: absolute;

    //TODO fix image 
    background: {
      // transform: rotate(89.9deg);
    }
  }

  .hello{
    color: whitesmoke;
  }
