$primary-color: #507586;

body {
  direction: rtl;
  background-image: url("./../images/background.jpeg");
    position: absolute;
    display: flex;

    //TODO fix image 
    background: {
      transform: rotate(89.9deg);
    }
  }

  .App{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    .hello{
      color: whitesmoke;
    }
  }

